<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill</title>
    <!-- Icon -->
     <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/letter-s.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <style>
        *{
            overflow: visible;
        }
    </style>
</head>
<body>
    <div class="preloader-g" id="preloader">
        <div class="block"></div>
    </div>

    <main>
        <header class="header">
            <a href="/index.html" style="text-decoration: none; color: black;"><h1>SHARAN</h1></a>
            <nav>
                <ul>
                    <a href="/Components/Skill/skill.html"><li>My_Skill_Slot</li></a>
                    <a href="/Components/Whyme/whyme.html"><li>Why_Me?</li></a>
                </ul>
            </nav>
            <a href="mailto:sharanplm@gmail.com"><button>Book Me</button></a>
            <img src="/assets/icons/menu.png" alt="Menu" id="open-menu">
            <div class="burger-menu" id="burger-menu">
                <img src="/assets/icons/close.png" alt="Menu" id="close-menu">
                <nav class="snav">
                    <ul>
                        <a href="/Components/Skill/skill.html"><li>My_Skill_Slot</li></a>
                        <a href="/Components/Whyme/whyme.html"><li>Why_Me?</li></a>
                    </ul>
                </nav>
                <a href="mailto:sharanplm@gmail.com"><button>Book Me</button></a>
            </div>
        </header>
        <div class="topic">
            <h2>What Weapons I Hold</h2>
            <p>The skills I hold are carved as a blade, and I won't be defeated until I have them.</p>
        </div>        
        <div class="skills">
            <section class="skills-programming">
                <h2>Programming Skills</h2>
                <div class="skills-container">
                    <div class="skill-item">
                        <img src="/assets/icons/html-5.png" alt="HTML">
                        <p>HTML</p>
                        <progress value="90" max="100"></progress>
                    </div>
                    <div class="skill-item">
                        <img src="/assets/icons/css-3.png" alt="SASS/CSS">
                        <p>SASS/CSS</p>
                        <progress value="80" max="100"></progress>
                    </div>
                    <div class="skill-item">
                        <img src="/assets/icons/js.png" alt="JavaScript">
                        <p>JavaScript</p>
                        <progress value="80" max="100"></progress>
                    </div>
                    <div class="skill-item">
                        <img src="/assets/icons/c-.png" alt="C and C++">
                        <p>C and C++</p>
                        <progress value="60" max="100"></progress>
                    </div>
                    <div class="skill-item">
                        <img src="/assets/icons/nodejs.png" alt="Node.js">
                        <p>Node.js</p>
                        <progress value="40" max="100"></progress>
                    </div>
                    <div class="skill-item">
                        <img src="/assets/icons/mongodb.png" alt="MongoDB">
                        <p>MongoDB</p>
                        <progress value="40" max="100"></progress>
                    </div>
                    <div class="skill-item">
                        <img src="/assets/icons/sql.png" alt="SQL">
                        <p>SQL</p>
                        <progress value="50" max="100"></progress>
                    </div>
                    <div class="skill-item">
                        <img src="/assets/icons/python.png" alt="Python">
                        <p>Python</p>
                        <progress value="60" max="100"></progress>
                    </div>
                    <div class="skill-item">
                        <img src="/assets/icons/java.png" alt="Java">
                        <p>Java</p>
                        <progress value="60" max="100"></progress>
                    </div>
                    <div class="skill-item">
                        <img src="/assets/icons/github.png" alt="Git/GitHub">
                        <p>Git/GitHub</p>
                        <progress value="50" max="100"></progress>
                    </div>
                    <div class="skill-item">
                        <img src="/assets/icons/icons8-express-js-50.png" alt="Express.js">
                        <p>Express.js</p>
                        <progress value="20" max="100"></progress>
                    </div>
                    <div class="skill-item">
                        <img src="/assets/icons/science.png" alt="React.js">
                        <p>React.js</p>
                        <progress value="65" max="100"></progress>
                    </div>
                    <div class="skill-item">
                        <img src="/assets/icons/tailwind-css.256x154.png" alt="Tailwind CSS">
                        <p>Tailwind CSS</p>
                        <progress value="60" max="100"></progress>
                    </div>
                    <div class="skill-item">
                        <img src="/assets/icons/c-sharp.png" alt="C#">
                        <p>C#</p>
                        <progress value="60" max="100"></progress>
                    </div>
                </div>
            </section>    
            <div class="skills-Communication">
                <marquee behavior="scroll" direction="left" scrollamount="8">
                    <span class="skill-text">English Writing</span>
                    <span class="skill-text">English Listening</span>
                    <span class="skill-text">English Speaking</span>
                    <span class="skill-text">English Reading</span>
                </marquee>
            </div>
            <div class="skills-activeplayer">
                <h2>Active Player Skills</h2>
                <div class="item">
                    <h1>Competitions</h1>
                    <p>Actively Participating in Competitions. I love to give my all on simple things</p>
                </div>
                <div class="item">
                    <h1>Teamwork</h1>
                    <p>I am very good at working in teams. I love to help others and contribute</p>
                </div>
                <div class="item">
                    <h1>Adaptability</h1>
                    <p>I am able to adapt to various situations and challenges. I am always ready to learn</p>
                </div>
                <div class="item">
                    <h1>Problem-Solving</h1>
                    <p>I am very good at solving problems. I love to think outside the box and come up with creative solutions</p>
                </div>
                <div class="item">
                    <h1>Persistence</h1>
                    <p>I am very good at staying focused and motivated. I love to work hard and not give up</p>
                </div>
                <div class="item">
                    <h1>Creativity</h1>
                    <p>I am very good at creating new ideas and solutions. I love to think outside the box and come up with creative solutions</p>
                </div>
                <div class="item">
                    <h1>Resilience</h1>
                    <p>I am very good at dealing with difficult situations and making tough decisions. I love to take risks and not give up</p>
                </div>
                <div class="item">
                    <h1>Patience</h1>
                    <p>I am very good at waiting and waiting. I love to take time to think and make decisions</p>
                </div>
                <div class="item">
                    <h1>Hackathonist</h1>
                    <p>I love to participate in hackathons and build cool projects. I am always ready to learn and improve</p>
                </div>
            </div>
            <footer>
                <p>&copy; 2021 SHARAN. All rights reserved.</p>
                <h2>Developed by Sharan </h2>
            </footer>
            
        </div>
     </main>
     <script src="/scripts/skll.js"></script>
</body>
</html>